<div *ngFor="let task of tasks" class="task">
    <div *ngIf="!taskEdit || !(taskEdit.id === task.id)">
        <div class="d-flex justify-content-between" [class]="setStatusClass(task.progress)">
            <p (dblclick)="changeName(task)" class="task__name">{{task.name}}</p>
            <div class="task__options">
                <p class="task__category">{{task.category}}</p>
                <button (click)="changeName(task)" class="btn-warning p-2"><i class="bi bi-pencil-fill"></i></button>
                <button (click)="deleteTask(task)" class="btn-danger p-2"><i class="bi bi-trash-fill"></i></button>
            </div>
        </div>
        <div class="task__progress__bar">
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="task.progress"></div>
            </div>
        </div>
    </div>
    <div *ngIf="taskEdit && taskEdit.id === task.id" class="d-flex justify-content-between">
        <form class="task__edit__form row d-flex justify-content-between" #taskForm="ngForm"
            (ngSubmit)="submitTaskEdit(taskForm.value, taskEdit)">
            <div class="col-7 d-flex justify-content-center">
                <input type="text" [(ngModel)]="taskEdit.name" #name="ngModel" name="name" class="task__edit__name" />
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="task__options">
                    <select class="task__category" [(ngModel)]="taskEdit.category" name="category">
                        <option value="">Choisir une catégorie</option>
                        <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
                    </select>
                    <button class="btn-warning p-2"><i class="bi bi-check"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>