.list{
    background-color: #EEE;
    padding: 20px;
    min-height:400px;
    margin-top:40px;
    .list__header{
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #CCC;
        display:flex;

        a{
            display:flex;
            align-items: center;
            margin-left:10px;
            text-decoration: none;
            margin-right: 10px;

        }
        justify-content:flex-end;
    }
}