<div class="container list">
    <div class="list__header">
        <header-button [name]="'Toutes'"></header-button>
        <header-button [name]="'Completes'"></header-button>
        <header-button [name]="'Incompletes'"></header-button>
        <select name="" id="">
            <option value="">Categorie 1</option>
            <option value="">Categorie 2</option>
        </select>
        <a href="#">Voir les archives</a>
    </div>
    <div class="list__content">
        
    </div>
</div>