<div class="container list">
    <div class="list__header">
        <header-button (click)="task.showAllTasks()" [name]="'Toutes'"></header-button>
        <header-button (click)="task.showComplete()" [name]="'Completes'"></header-button>
        <header-button (click)="task.showIncomplete()" [name]="'Incompletes'"></header-button>
        <select #category (change)="task.filterByCategory(category.value)" name="" id="" >
            <option value="">Choisir une catégorie</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
        </select>
        <a (click)="task.showArchived()" href="#">Voir les archives</a>
        <button [class.first__task]="task.addClassIfEmpty()" (click)="task.displayTask()" class="button__add__task"><i class="bi bi-plus"></i></button>
    </div>
    <div class="d-flex justify-content-end">
        <notice-message *ngIf="task.addClassIfEmpty()"></notice-message>
    </div>
    <div class="list__content">
        <task #task></task>
    </div>
</div>