.list{
    background-color: #EEE;
    padding: 20px;
    min-height:400px;
    margin-top:20px;
    .list__header{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #CCC;
        display:flex;

        a{
            display:flex;
            align-items: center;
            margin-left:10px;
            text-decoration: none;

        }
        justify-content:flex-end;
    }
    .button__add__task{
        border-radius: 50%;
        width: 40px;
        background-color: #1b5823;
        font-weight: bold;
        color:white;
        border:1px white solid;
        margin-left:10px;
        &:hover{
            background-color: #2f993d;
        }
    }
    .first__task{
        animation: changeColor 1.5s linear infinite alternate both;
        @keyframes changeColor {
            0% {
                background-color: #1b5823;
            }
            100%{
                background-color: rgb(214, 207, 207);
            }
        }
    }

}